body{
  text-align: center;
	font-family: sans-serif;
	font-weight: 100;
  width: 100%;
  margin: 0;
  padding: 0;
}
h1{
	color: #396;
	font-weight: 100;
	font-size: 40px;
	margin: 40px 0px 20px;
}
#clockdiv{
	position: absolute;
	font-size: 2em;
	left: 25%;
  top: 35%;
}
li{
  float: left;
  list-style-type: none;
  padding: 10px;
}
.imageSlider{
  width: 100%;
}